# Virtual environment
venv/
.venv/
env/
dist/
build/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3
media/
staticfiles/
db.sqlite3

# Environment variables
.env
.env.example

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
.project
.pydevproject

# Custom Samar Project Files
catalogues/
images/
docs/
deployment_manual.docx
repair_base.py
fix_static.py
main.py
*.png
*.jpg
*.jpeg
*.webp
*.docx
